#main2{
    background-color: orange;
   }

  .main{
      background-color: green;
   }
  
  .main1{
      background-color: yellowgreen;
   }
   h1{
    background-color: brown;
   }
  